*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: "YoungSerif";
  src: url('../Contents/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: "outfit";
  src: url('../Contents/fonts/outfit/Outfit-VariableFont_wght.ttf');
}
body {
	background-color: rgb(248, 233, 203);
}
.white {
	background-color: white;
	border-radius: 12px;
	width: 600px;
	margin: auto;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
.white img {
	border-radius: 1em;
	width: 100%;
	margin-bottom: 15px;
}
h5{
	margin-bottom: 15px;
	color: brown;
	font-size: 20px;
	font-family: "YoungSerif";
}
h4{
	font-size: 25px;
	font-family: "YoungSerif";
	margin-bottom: 15px;
}
h6{
	font-size: 15px;
	font-family: "outfit";
	margin-bottom: 15px;
	color: rgba(114, 55, 109, 0.868);
}

.box2{
	background-color: rgb(248, 241, 243);
	font-family: "outfit";
	margin-bottom: 15px;
	font-weight: normal;
	border-radius: 1em;
	list-style-position: inside; 
  width: 100%;
  height: 100%;
	padding: 25px;
	font-size: 12px;
	line-height: 1.6;
}
table {
	border-collapse: collapse;
	width: 100%;
}
tr {
	border-bottom: 1px solid rgb(161, 159, 159);
	font-size: 12px;
	line-height: 3;
	font-family: "outfit";
}
tbody>tr>:nth-child(2){
	color: brown;
	width:200px;
	text-align:left;
	font-weight: bold;
}
table tr:last-child {
	border-bottom: none;
}
li::marker{
	color: brown;
}
li{
	font-size: 12px;
	list-style-position: inside;
	margin: 0;
	text-align: justify;
}
.line{
	border-bottom: 1px solid rgb(161, 159, 159);
	padding: 15px;
	font-family: "outfit";
	margin-bottom: 15px;
	line-height: 1.6;
}

.box1{
	
	font-size: 12px;
	
	font-weight: normal;
	
}









